In [3]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

In [4]:
df=pd.read_csv('glassdoor_jobs.csv')

# Analyzing what needs to be cleaned:

In [5]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,$64K-$106K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
1,Associate Business Intelligence Data Scientist,$64K-$106K (Glassdoor est.),"Blending customer advisory, customer support, ...",3.2,Carousel Industries\n3.2,"Exeter, RI","Exeter, RI",1001 to 5000 employees,1992,Company - Private,IT Services,Information Technology,$500 million to $1 billion (USD),-1
2,"Scientist, Population Genomics",$64K-$106K (Glassdoor est.),WuXi NextCODE is seeking a motivated Scientist...,2.9,Carousel Industries\n3.2,"Cambridge, MA","Cambridge, MA",501 to 1000 employees,2015,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1
3,Data Analyst II,$64K-$106K (Glassdoor est.),The Data Analyst II is responsible for data en...,4.2,"Insight Enterprises, Inc.\n4.2","Plano, TX","Tempe, AZ",5001 to 10000 employees,1988,Company - Public,Enterprise Software & Network Solutions,Information Technology,$5 to $10 billion (USD),"CDW, PCM, SHI International"
4,Sensory Scientist,$64K-$106K (Glassdoor est.),A leading food production company in St. Louis...,3.8,NIC Infotek\n3.8,"Saint Louis, MO","Tampa, FL",51 to 200 employees,2004,Company - Public,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1

In [6]:
df.shape

(1000, 14)

In [7]:
df['Salary Estimate'].value_counts()

$96K-$156K (Glassdoor est.)     170
$60K-$101K (Glassdoor est.)      32
$108K-$171K (Glassdoor est.)     32
$57K-$98K (Glassdoor est.)       32
$96K-$101K (Glassdoor est.)      32
$115K-$140K (Glassdoor est.)     32
$119K-$186K (Glassdoor est.)     32
$112K-$179K (Glassdoor est.)     32
$141K-$225K (Glassdoor est.)     32
$60K-$100K (Glassdoor est.)      32
$105K-$166K (Glassdoor est.)     32
$73K-$125K (Glassdoor est.)      32
$56K-$97K (Glassdoor est.)       32
$97K-$156K (Glassdoor est.)      32
$57K-$97K (Glassdoor est.)       32
$90K-$115K(Employer est.)        32
$69K-$118K (Glassdoor est.)      32
$111K-$181K (Glassdoor est.)     32
$72K-$122K (Glassdoor est.)      32
$94K-$154K (Glassdoor est.)      32
$99K-$110K (Glassdoor est.)      32
$58K-$69K (Glassdoor est.)       32
$74K-$123K (Glassdoor est.)      32
$109K-$178K (Glassdoor est.)     32
$55K-$91K (Glassdoor est.)       32
$97K-$154K (Glassdoor est.)      32
$64K-$106K (Glassdoor est.)      30
Name: Salary Estimate, dtype: int64

In [8]:
df['Headquarters'].value_counts()

San Francisco, CA     64
New York, NY          57
Boston, MA            30
Reston, VA            25
-1                    21
                      ..
Schaumburg, IL         1
Coconut Creek, FL      1
Gottingen, Germany     1
Plainsboro, NJ         1
Beijing, China         1
Name: Headquarters, Length: 282, dtype: int64

In [9]:
df['Rating'].value_counts()

 3.6    68
 3.8    67
 4.0    65
 3.9    62
 3.5    61
 3.4    55
 5.0    51
 4.1    50
 4.2    48
-1.0    46
 4.5    46
 3.7    46
 4.3    42
 4.6    36
 3.1    32
 3.2    30
 3.3    29
 4.4    27
 4.7    24
 4.9    18
 2.9    18
 4.8    17
 3.0    17
 2.5     9
 2.3     8
 2.2     8
 2.7     7
 2.6     6
 2.8     4
 2.4     1
 1.5     1
 2.0     1
Name: Rating, dtype: int64

### List of things to be cleaned/added:
1. Headquarters with -1 values removed 
2. Removing "Glassdoor est" from Salary
3. Converting Salary Estimate to Int (removing K)
4. Converting Salary Estimate to Avg. Salary
5. Removing ratings with -1 values
6. Removing Rating from Company Name field
7. Adding a State field
8. Checking if job is in the same state as Headquarters
9. Adding an Age field for the company
10. Adding columns for different job skills listed (Python, R/RStudio, AWS, Spark, Hadoop, Docker,SQL, Linux, Flask, Django, Tensorflow, Keras, PyTorch, Statistics, Algorithms)
11. Adding a column for what type of Data Science job
12. Adding a column to indicate Seniority level
13. Job Description Length
14. Number of Competitors

# Cleaning

### Removing Rows with Null Headquarters:

In [10]:
df=df[df['Headquarters']!='-1']

In [11]:
df['Headquarters'].value_counts()

San Francisco, CA     64
New York, NY          57
Boston, MA            30
Reston, VA            25
Cambridge, MA         17
                      ..
Ewing, NJ              1
Schaumburg, IL         1
Coconut Creek, FL      1
Gottingen, Germany     1
Beijing, China         1
Name: Headquarters, Length: 281, dtype: int64

In [12]:
df.shape #only 21 rows removed

(979, 14)

### Cleaning Salary Data

In [13]:
salary=df['Salary Estimate'].apply(lambda x:x.split('(')[0])

In [14]:
salary

0      $64K-$106K
1      $64K-$106K
2      $64K-$106K
3      $64K-$106K
4      $64K-$106K
          ...
995    $96K-$156K
996    $96K-$156K
997    $96K-$156K
998    $96K-$156K
999    $96K-$156K
Name: Salary Estimate, Length: 979, dtype: object

In [15]:
remove_k=salary.apply(lambda x:x.replace('K','').replace('$',''))

In [16]:
remove_k

0      64-106
1      64-106
2      64-106
3      64-106
4      64-106
        ...
995    96-156
996    96-156
997    96-156
998    96-156
999    96-156
Name: Salary Estimate, Length: 979, dtype: object

In [17]:
df['min_salary']=remove_k.apply(lambda x: int(x.split('-')[0]))

In [18]:
df['min_salary']

0      64
1      64
2      64
3      64
4      64
       ..
995    96
996    96
997    96
998    96
999    96
Name: min_salary, Length: 979, dtype: int64

In [19]:
df['max_salary']=remove_k.apply(lambda x:int(x.split('-')[1]))

In [20]:
df['max_salary']

0      106
1      106
2      106
3      106
4      106
      ...
995    156
996    156
997    156
998    156
999    156
Name: max_salary, Length: 979, dtype: int64

In [21]:
df['avg_salary']=(df.min_salary+df.max_salary)/2

In [22]:
df['avg_salary']

0       85.0
1       85.0
2       85.0
3       85.0
4       85.0
       ...
995    126.0
996    126.0
997    126.0
998    126.0
999    126.0
Name: avg_salary, Length: 979, dtype: float64

### Removing rows with Null Ratings:

In [23]:
df=df[df['Rating']!=-1.0]

In [24]:
df['Rating'].value_counts()

3.6    68
3.8    67
4.0    65
3.9    62
3.5    61
3.4    55
5.0    50
4.1    50
4.2    48
4.5    46
3.7    45
4.3    42
4.6    36
3.1    32
3.2    30
3.3    29
4.4    27
4.7    24
4.9    18
2.9    18
3.0    17
4.8    17
2.5     9
2.3     8
2.2     8
2.7     7
2.6     6
2.8     4
2.0     1
1.5     1
2.4     1
Name: Rating, dtype: int64

In [25]:
df.shape #Another 27 rows removed

(952, 17)

### Removing Rating from Company Name field:

In [26]:
df["Company Name"]=df['Company Name'].apply(lambda x:x.split('\n')[0])

In [27]:
df["Company Name"]

0                        ManTech
1            Carousel Industries
2            Carousel Industries
3      Insight Enterprises, Inc.
4                    NIC Infotek
                 ...
995                         Eaze
996            Goodwater Capital
997             Dun & Bradstreet
998                     Freestar
999              Imperfect Foods
Name: Company Name, Length: 952, dtype: object

### Adding and Cleaning State field:

In [28]:
df=df[df['Location']!="United States"] #removing 12 rows with general US location

In [29]:
df['Location']=df['Location'].apply(lambda x: x if x != 'Oregon' else 'Portland, OR')

In [30]:
df['Location']=df['Location'].apply(lambda x: x if x != 'New Jersey' else 'Princeton, NJ')

In [31]:
df['Location']=df['Location'].apply(lambda x: x if x != 'Remote' else 'Remote, Remote')

In [32]:
df['State']= df['Location'].apply(lambda x: x.split(',')[-1])

In [33]:
df=df[df['State']!="United States"]

In [34]:
df.shape

(940, 18)

In [35]:
df['State']=df.State.apply(lambda x: x.replace(' ','')) #removing space before State abbreviation

In [36]:
df['State']=df['State'].apply(lambda x: x if x != 'California' else 'CA')

In [37]:
df['State']=df['State'].apply(lambda x: x if x != 'Virginia' else 'VA')

In [38]:
df['State']= df['State'].apply(lambda x: x if x!= 'LA' else 'CA')

In [39]:
df['State'].value_counts()

CA        222
VA         93
MA         91
NY         75
TX         64
IL         42
WA         28
DC         27
MD         23
PA         22
FL         19
WI         18
NJ         17
UT         17
AZ         17
MO         16
CO         16
OH         14
NC         13
Remote     13
TN         12
OR         10
MI         10
HI          9
CT          9
GA          6
IN          5
RI          4
MN          4
OK          3
NE          3
AL          3
KS          2
MS          2
SC          2
WV          2
NM          2
NH          2
IA          1
ID          1
KY          1
Name: State, dtype: int64

### Job in Headquarters?

In [40]:
df['jobhq'] = df.apply(lambda x: 1 if x['Location'] == x['Headquarters'] else 0, axis = 1)

In [41]:
df.jobhq.value_counts()

0    513
1    427
Name: jobhq, dtype: int64

### Age of the Company:

In [42]:
df['age']=df.Founded.apply(lambda x: x if x<1 else 2020-x)

In [43]:
df.age.value_counts() #we have 92 companies with no founding date but we can't remove that many rows

-1      92
 24     36
 8      35
 4      33
 5      33
        ..
 122     1
 127     1
 128     1
 135     1
 330     1
Name: age, Length: 118, dtype: int64

### Adding columns for skills required:

In [44]:
#python
df['python_yn']=df["Job Description"].apply(lambda x:1 if 'python' in x.lower() else 0)

In [45]:
#r
df['r_yn']=df["Job Description"].apply(lambda x:1 if 'r studio' in x.lower() or 'r-studio' in x.lower() or ",R" in x or "R," in x or ",R" in x or " R " in x else 0)

In [46]:
#aws
df['aws_yn']=df["Job Description"].apply(lambda x:1 if 'aws' in x.lower() else 0)

In [47]:
#spark
df['spark_yn']=df["Job Description"].apply(lambda x:1 if 'spark' in x.lower() else 0)

In [48]:
#hadoop
df['hadoop_yn']=df["Job Description"].apply(lambda x:1 if 'hadoop' in x.lower() else 0)

In [49]:
#docker
df['docker_yn']=df["Job Description"].apply(lambda x:1 if 'docker' in x.lower() else 0)

In [50]:
#sql
df['sql_yn']=df["Job Description"].apply(lambda x:1 if 'sql' in x.lower() else 0)

In [51]:
#linux
df['linux_yn']=df["Job Description"].apply(lambda x:1 if 'linux' in x.lower() else 0)

In [52]:
#flask
df['flask_yn']=df["Job Description"].apply(lambda x:1 if 'flask' in x.lower() else 0)

In [53]:
#django
df['django_yn']=df["Job Description"].apply(lambda x:1 if 'django' in x.lower() else 0)

In [54]:
#tensorflow
df['tensorflow_yn']=df["Job Description"].apply(lambda x:1 if 'tensorflow' in x.lower() else 0)

In [55]:
#keras
df['keras_yn']=df["Job Description"].apply(lambda x:1 if 'keras' in x.lower() else 0)

In [56]:
#pytorch
df['pytorch_yn']=df["Job Description"].apply(lambda x:1 if 'pytorch' in x.lower() else 0)

In [57]:
#algorithms
df['algo_yn']=df["Job Description"].apply(lambda x:1 if 'algorithms' in x.lower() or 'algorithmic' in x.lower() else 0)

In [58]:
#statistics
df['stats_yn']=df["Job Description"].apply(lambda x:1 if 'statistics' in x.lower() or 'statistical' in x.lower() else 0)

In [59]:
#tableau
df['tableau_yn']=df["Job Description"].apply(lambda x:1 if 'tableau' in x.lower() else 0)

In [60]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'min_salary', 'max_salary', 'avg_salary', 'State', 'jobhq', 'age',
       'python_yn', 'r_yn', 'aws_yn', 'spark_yn', 'hadoop_yn', 'docker_yn',
       'sql_yn', 'linux_yn', 'flask_yn', 'django_yn', 'tensorflow_yn',
       'keras_yn', 'pytorch_yn', 'algo_yn', 'stats_yn', 'tableau_yn'],
      dtype='object')

### Type of Data Science Job

In [61]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'research' in title.lower():
        return 'research'
    elif 'software' in title.lower():
        return 'sw'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    else:
        return 'na'

In [62]:
def title_number_simplifier(title):
    if 'data scientist' in title.lower():
        return 3
    elif 'data engineer' in title.lower():
        return 2
    elif 'analyst' in title.lower():
        return 1
    elif 'machine learning' in title.lower():
        return 6
    elif 'research' in title.lower():
        return 8
    elif 'software' in title.lower():
        return 9
    elif 'manager' in title.lower():
        return 5
    elif 'director' in title.lower():
        return 4
    else:
        return 7

In [63]:
df['job_type']=df['Job Title'].apply(title_simplifier)

In [67]:
df['job_type_num']=df['Job Title'].apply(title_number_simplifier)

In [191]:
df['job_type'].value_counts()

data scientist    687
na                 73
data engineer      67
analyst            59
mle                23
research           13
director            8
manager             8
sw                  2
Name: job_type, dtype: int64

### Seniority Level of the Job:

In [72]:
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
        return 'senior'
    elif 'jr' in title.lower() or 'jr.' in title.lower():
        return 'jr'
    else:
        return 'na'

In [70]:
def seniority_number(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
        return '1'
    elif 'jr' in title.lower() or 'jr.' in title.lower():
        return '0'
    else:
        return '2'

In [73]:
df['seniority']=df['Job Title'].apply(seniority)

In [74]:
df['seniority'].value_counts()

na        778
senior    162
Name: seniority, dtype: int64

In [75]:
df['seniority_num']=df['Job Title'].apply(seniority_number)

In [76]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'min_salary', 'max_salary', 'avg_salary', 'State', 'jobhq', 'age',
       'python_yn', 'r_yn', 'aws_yn', 'spark_yn', 'hadoop_yn', 'docker_yn',
       'sql_yn', 'linux_yn', 'flask_yn', 'django_yn', 'tensorflow_yn',
       'keras_yn', 'pytorch_yn', 'algo_yn', 'stats_yn', 'tableau_yn',
       'job_type', 'job_type_num', 'seniority', 'seniority_num'],
      dtype='object')

### Job Description Length:

In [77]:
df['len_desc']=df['Job Description'].apply(lambda x:len(x))

In [78]:
df['len_desc']

0      3962
1      5358
2      3183
3      4218
4      1833
       ...
995    2106
996    2902
997    3527
998    3674
999    6200
Name: len_desc, Length: 940, dtype: int64

### Number of Competitors:

In [79]:
df['num_comp']=df['Competitors'].apply(lambda x:len(x.split(',')) if x!='-1' else 0)

In [80]:
df['num_comp'].value_counts()

0    628
3    211
2     83
1     18
Name: num_comp, dtype: int64

In [81]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'min_salary', 'max_salary', 'avg_salary', 'State', 'jobhq', 'age',
       'python_yn', 'r_yn', 'aws_yn', 'spark_yn', 'hadoop_yn', 'docker_yn',
       'sql_yn', 'linux_yn', 'flask_yn', 'django_yn', 'tensorflow_yn',
       'keras_yn', 'pytorch_yn', 'algo_yn', 'stats_yn', 'tableau_yn',
       'job_type', 'job_type_num', 'seniority', 'seniority_num', 'len_desc',
       'num_comp'],
      dtype='object')

In [82]:
df.shape

(940, 42)

# Exporting Cleaned Dataframe into a CSV file:

In [83]:
df.to_csv('glassdoor_jobs_cleaned.csv',index=False)